<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781819324250-3ooqbtqdd5d2snad1caktp50rani6m3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781819324250-3ooqbtqdd5d2snad1caktp50rani6m3a</string>
	<key>API_KEY</key>
	<string>AIzaSyDAwqAPVyIoF7LUxAJhHCwY3TW8dVSJn1E</string>
	<key>GCM_SENDER_ID</key>
	<string>781819324250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dotslab.arDemo</string>
	<key>PROJECT_ID</key>
	<string>ardemo-da98e</string>
	<key>STORAGE_BUCKET</key>
	<string>ardemo-da98e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781819324250:ios:09f6092ad5fff10a5b3563</string>
</dict>
</plist>